.container{
    /* background: linear-gradient(145deg, #f8780159, #611f6171); */
    background-color: rgb(240, 240, 240);
    border-radius: 15px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.705);
}

/* Логотип */
.logo {
    margin-top: 0.5rem;

    margin-right: 2rem; /* Отступ от логотипа до поисковой строки */
}
  
.logoImage {
    height: 120px; /* Высота логотипа */
    width: auto; /* Ширина автоматически подстраивается */
}
  
.categoryMenu{
    margin-right: 2rem;
}
  /* Поисковая строка */
.searchBar {
    flex-grow: 1; /* Растягиваем на всё доступное пространство */
    max-width: 600px; /* Ограничиваем ширину поисковой строки */
    margin: 0 auto; /* Центрируем */
}
  
  /* Иконки (корзина и профиль) */
.icons {
    margin-left: auto; /* Прижимаем иконки к правому краю */
    display: flex;
    gap: 1rem; /* Расстояние между иконками */
}