.container {
  max-width: 1200px; /* Ограничиваем ширину контейнера */
  margin: 0 auto; /* Центрируем контейнер */
}

.filters {
  display: flex;
  gap: 16px;
  margin-bottom: 20px;
  max-width: 400px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
}
