/* Стили для контейнера Drawer */
.drawerContainer {
  display: flex;
  width: 700px;
  height: 100vh; /* Ограничиваем высоту 80% от высоты экрана */
  overflow: auto; /* Добавляем прокрутку, если содержимое превышает высоту */
}

/* Стили для левой колонки */
.leftColumn {
  width: 40%;
  background-color: #f5f5f5;
  padding: 0; /* Убираем внутренние отступы */
}

/* Стили для правой колонки */
.rightColumn {
  width: 60%; /* Оставшееся пространство */
  padding: 16px;
}

/* Стили для кнопок */
.customButton {
  justify-content: flex-start; /* Выравнивание текста и иконки по левому краю */
  text-transform: none; /* Отключаем автоматическое преобразование текста в верхний регистр */
  padding-left: 16px; /* Отступ слева */
  color: #3a3a3a; /* Белый цвет текста */
}

/* Стили для списка */
.list {
  padding: 0; /* Убираем внутренние отступы */
}

/* Стили для вложенных списков */
.subList {
  padding-left: 16px; /* Отступ для вложенных элементов */
}

/* Стили для центрированного текста */
.centeredText {
  text-align: center;
  margin-top: 32px;
}
